<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="10"
    android:versionName="3.0.1"
    package="com.org.great.wrold" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 网络访问 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- wifi网络 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REAL_GET_TASKS"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" /-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <!-- <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW"/> -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="com.easemob.chatuidemo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.easemob.chatuidemo.permission.C2D_MESSAGE" />
   <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />
    <application
        android:name="com.org.great.world.activities.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="54c9faabfd98c5a24c000525" >
        </meta-data>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="MuMaYi" />
        <!--<meta-data android:name="client_id" android:value="85umcobwswozr4r6"/>-->
        <!--<meta-data android:name="client_secret" android:value="794849f847e468dd503f8f3f7d84c01d"/>-->
        <meta-data android:name="client_id" android:value="7960cf1cd1ea53a4"/>
        <meta-data android:name="client_secret" android:value="9b188a23e3e610e0b853e37144e7086b"/>
        <activity
            android:name="com.org.great.world.activities.ActivityWelcome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name="com.org.great.world.activities.MainActivity">
            <!-- 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
             -->
        </activity>

        <activity
            android:name="com.org.great.world.activities.ActivityRegister">
        </activity>
        <activity
            android:name="com.org.great.world.activities.SeeWorldActivity">
        </activity>
        <activity
            android:name="com.org.great.world.activities.GameActivity">
        </activity>
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID -->
                <data android:scheme="tencent1104234972" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.org.great.world.activities.PlayerActivity"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name="com.org.great.world.activities.CachedActivity"
            android:launchMode="singleTask"
            />
        <!-- 正在缓存的视频展示界面demo -->
        <activity
            android:name="com.org.great.world.activities.CachingActivity"
            android:launchMode="singleTask"
            />
        <!-- 以下两个为下载时需要的添加的Service -->
        <service
            android:name="com.youku.service.download.DownloadService"
            android:label="Youku Download Service"
            android:process=":download" >
        </service>

        <!-- 以下为增加登陆功能需要添加的信息 -->
        <activity
            android:name="com.youku.login.activity.LoginRegistCardViewDialogActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.youku.login.sns.AuthorizationLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.youku.login.Zxing.CaptureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="com.youku.action.QRCODE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.youku.login.activity.WebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="com.youku.action.YoukuWebview" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="ff313976#jiwai" />
        <!-- 声明sdk所需的service -->
        <service android:name="com.easemob.chat.EMChatService"/>
        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.easemob.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f" 
            android:enabled="true"
            android:process=":remote" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3ecea51f560650b1ed8a4b99808f52e8" />
        <!-- 开机自启动服务 -->
        <receiver android:name="com.easemob.chat.StartServiceReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
        
        <!-- gcm start -->
        <receiver
            android:name="com.easemob.chat.EMGCMBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.easemob.chatuidemo" />
            </intent-filter>
        </receiver>

        <service android:name="com.easemob.chat.EMGCMListenerService"
            android:exported="false" >
        </service>
        
        <receiver 
            android:name="com.easemob.chatuidemo.receiver.GCMPushBroadCast"
            android:exported="false">
            <intent-filter >
                <action android:name="com.easemob.sdk.push"/>
                <category android:name="com.easemob.chatuidemo"/>
            </intent-filter>
        </receiver>
        <!-- iOS offline push nick -->
        <activity
            android:name="com.easemob.chatuidemo.activity.OfflinePushNickActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <!-- user profile -->
		<activity 
		    android:name="com.easemob.chatuidemo.activity.UserProfileActivity"
		    android:screenOrientation="portrait"
		    android:theme="@style/horizontal_slide"
		    ></activity>
		 <!-- 聊天页面 -->
        <activity
            android:name="com.easemob.chatuidemo.activity.ChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" >
        </activity>
		
		<!-- 聊天室详情 -->
        <activity
            android:name="com.easemob.chatuidemo.activity.ChatRoomDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" >
        </activity>
		
		 <!-- 地图 -->
        <activity
            android:name="com.easemob.chatuidemo.activity.BaiduMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" >
        </activity>
		<activity
            android:name="com.easemob.chatuidemo.activity.ImageGridActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        
		<service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" />

        <activity
            android:name="com.qq.e.ads.AdActivity"
            android:theme="@android:style/Theme.Translucent" />
		<activity android:name="com.pkag.m.MyMediaActivity"
			android:configChanges="orientation|keyboardHidden"
			android:excludeFromRecents="true" 
			android:screenOrientation="portrait"
			android:launchMode="singleTask">
		</activity>
    </application>

</manifest>
